/* 0-base */
@import '0-base/base-dir';

/* 3-helpers */
@import '3-helpers/helpers-dir';

/* 2-modules */
@import '2-modules/modules-dir';

/* 1-pages */
@import '1-pages/pages-dir';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: .6s background-color, .6s border, .6s color, .6s transform, .6s opacity;
}

button,a{
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

/* Estilos primeng */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";