
$white:#fff;
$black:#000;
$red:#ff0000;

//Font color
$font-color-footer: #ffffff;
$font-color-header: #ffffff;
$font-color-title-main: #000000;
//Background
$bg-footer: #000000;
$bg-voucher-table: #787878;
$bg-header: #333333;
$bg-buttons-redes-hover: #d0d8e0;
//Border
$border-voucher-table: #313131;
