$white:#fff;
$black:#000;


//Colores oscuros
:root {
    //Font color
    --font-color-header: #ffffff;
    --font-color-header-nav: #c0c0c0;
    --font-color-header-nav-hover: #dedede;
    --font-color-header-nav-active: #f0f0f0;
    --font-color-main: #ffffff;
    --font-color-footer: #ffffff;
    //Color
    --color-icon-theme-switch: #cbcbcb;
    //Background
    --bg-body: #292c35;
    --bg-header: #010101;
    --bg-header-nav-hover: #f53c32;
    --bg-header-nav-active: #f53c32;
    --bg-main: #292c35;
    --bg-footer: #010101;

    --bg-switch: #cbcbcb;
    --bg-circle-switch: #2d2d2d;

    --bg-scroll: #f53c32;
    //Border
    --border-header:#f53c32;
}

//Colores claros
[data-theme='light'] {
    //Font color
    --font-color-header: #000000;
    --font-color-header-nav: #777777;
    --font-color-header-nav-hover: #dedede;
    --font-color-header-nav-active: #f0f0f0;
    --font-color-main: #000000;
    --font-color-footer: #000000;
    //Color
    --color-icon-theme-switch: #2d2d2d;
    //Background
    --bg-body: #d2d2d2;
    --bg-header: #ffffff;
    --bg-header-nav-hover: #f53c32;
    --bg-header-nav-active: #f53c32;
    --bg-main: #d2d2d2;
    --bg-footer: #ffffff;

    --bg-switch: #2d2d2d;
    --bg-circle-switch: #cbcbcb;

    --bg-scroll: #f53c32;
    //Border
    --border-header:#f53c32;
}