<div class="wrap-studies">
    <div class="title-page">
        <h3>ESTUDIOS Y CERTIFICACIONES</h3>
    </div>
    <div class="content-studies">
        <div class="studyList">
            <div class="item" *ngFor="let item of studiesData">
                <div class=contentImg>
                    <img [src]="item.image" [alt]="item.alt">
                </div>
                <div class="circleStudie"></div>
                <div class="contentData">
                    <div class="data">
                        <p class="training">{{ item.lugar }}</p>
                        <span class="date">{{ item.fecha }}</span>
                        <h3 class="title">{{ item.educacion }}</h3>
                        <p class="text">{{ item.descripcion }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="certificados-list">
            <div class="item" *ngFor="let item of certificacionesData">
                <div class="grupo">
                    <h3>{{ item.grupo }}</h3>
                    <div class="certificados">
                        <div class="certificado" *ngFor="let certificado of item.certificados">
                            <div class="text">
                                <div class="name">
                                    <p>{{ certificado.nombre }}</p>
                                </div>
                                <div class="details">
                                    <p>{{ certificado.fecha }} -</p>
                                    <p>{{ certificado.proveedor }}</p>
                                </div>
                            </div>
                            <div class="download">
                                <a [href]="certificado.link" [download]="certificado.nombreArchivo">
                                    <i class="pi pi-download"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
