footer {
    background-color: var(--bg-footer);
    padding-left: 20px;

}

.copyright{
    font-size: 10px;
    p{
        color: var(--font-color-footer);
        span{
            color: var(--font-color-footer);
        }
    }
}