header {
    color: var(--font-color-header);
    background-color: var(--bg-header);
    width: 90%;
    max-width: 300px;
    height: calc(100vh - $header-responsive-height);
    overflow: auto;
    position: fixed;
    top: $header-responsive-height;
    left: 0;
    transform: translateX(-100%);
    padding-left: 15px;
    z-index: 100;
}
.header-active{
    transform: translateX(0);
}
.responsive-header{
    color: var(--font-color-header);
    background-color: var(--bg-header);
    height: $header-responsive-height;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 2px solid var(--border-header);
    h1{
        font-size: 20px;
        color: var(--font-color-title-header);
    }
}
.content-with-border{
    border-right: 2px solid var(--border-header);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - $header-height-logo - $header-responsive-height);
}
.wrap-header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.logo{
    padding: 10px 0 0 20px;
    height: $header-height-logo;
    h2{
        color: var(--font-color-title-header);
    }
    span{
        color: var(--font-color-title-header);
    }
}
nav{
    margin: 20px 0;
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        li{
            display: flex;
            a{
                text-decoration: none;
                color: var(--font-color-header-nav);
                padding: 15px 20px;
                width: 100%;
                border-radius: 30px 0 0 30px;
                font-size: 15px;
                display: flex;
                gap: 6px;
                flex-direction: row;
                align-content: center;

                .pi{
                    font-size: 20px;
                    color: var(--font-color-header-nav);
                }
                &:hover{
                    color: var(--font-color-header-nav-hover);
                    .pi{
                        color: var(--font-color-header-nav-hover);
                    }
                }
                &:hover{
                    background-color: var(--bg-header-nav-hover);
                }
            }
            .nav-active{
                background-color: var(--bg-header-nav-active);
                color: var(--font-color-header-nav-active);
                .pi{
                    color: var(--font-color-header-nav-active);
                }
            }
        }
    }
}

.theme-switcher{
    padding-left: 20px; 
}
@media(min-width:950px){
    header{
        position: relative;
        height: 100vh;
        top: 0;
        left: 0;
        transform: translateX(0);
        width: 100%;
    }
    .responsive-header{
        display: none;
    }
    .content-with-border{
        min-height: calc(100vh - $header-height-logo);
    }
}