<div class="wrap-about">
    <div class="title-page">
        <h3>SOBRE MI</h3>
    </div>
    <div class="content-about">
       
        <div class="text">
            <h2>Omar Mitma Julcapoma</h2>
            <span>
                <i class="pi pi-map-marker"></i>
                Peruano
            </span>
            <p class="text-main">
                Soy un desarrollador con más de 3 años de experiencia  full stack, especializado en crear soluciones innovadoras y eficientes. Estoy comprometido con las mejores prácticas de desarrollo y disfruto colaborando en equipo para lograr grandes resultados.
            </p>
            <div>
                <a href="assets/Resource/OmarMitmaJulcapoma_CV.pdf" download="OmarMitmaJulcapoma_CV.pdf" class="button-download">
                    <i class="pi pi-download"></i>
                    DESCARGA MI CV
                </a>
            </div>
        </div>
        <div class="image">
            <img src="assets/Images/undraw/undraw_developer_activity_re_39tg.svg" alt="undraw developer activity re 39tg">
        </div>
        
    </div> 
</div>