/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

*::-webkit-scrollbar {
    -webkit-appearance: none;
}

*::-webkit-scrollbar:vertical {
    width:2px;
}

*::-webkit-scrollbar-button:increment,*::-webkit-scrollbar-button {
    display: none;
} 

*::-webkit-scrollbar:horizontal {
    height: 2px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--bg-scroll);
    border-radius: 20px;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;  
}